/* news.css */
body {
    background-size: 100%; /* Fit width and maintain the original aspect ratio for height */
    background-position: center; /* Center the background */
    background-repeat: no-repeat; /* Prevent repeating the background image */
}

.background-img {
    position:fixed;
    z-index: -10;
    opacity: 0.7;
    filter: blur(3px);
}

/* Grid */
.grid-container {
    display: grid;
    grid-template-columns: 5% 40% 5% 40% 5%;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    grid-gap: 20px;
    width: 100%;
    justify-content: center;
}

.grid-item {
    padding: 1%;
}

/* News Specific */

.news-title {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 20%;
    padding:0;
}

.news-title h2 {
    font-family: AmaticSC;
    color: white;
    font-size:100px;
    padding:0;
    margin:0;
    text-align:center;
}

.news-column {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top:5%;
    padding:10px;
    background-color: rgba(42, 85, 52, 0.685);
}

.news-column-item {
    background-color:rgba(38, 89, 50, 0.685);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    width:fit-content;
    height:fit-content;
    padding:10px;
    margin:0;
}

.news-column-item h3 {
    font-size:20px;
}

.news-column-item p {
    font-size:16px;
}

.calendar iframe {
    width: 70vh;
    height: 70vh;
    top: 15vh;
    left:55vw;
    background-color: rgba(42, 85, 52, 0.685);
    position:fixed;
    z-index: 10;
}
