/*-- Site Structure --*/

html, body {
    margin: 0;
    overflow-x:hidden;
}

body {
    background-color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 100% 100% 10%;
    height: 100vh;
}

.grid-item {
    padding: 1%;
}

.stuckheader {
    background-color: rgba(255, 255, 255, 0.678);
    padding:0;
    overflow:hidden;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:10%;
    z-index: 99;
}

.topnav {
    background-color:white;
    overflow:hidden;
}

.topnav a {
    float:left;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:17px;
}

.topnav img {
    height: 100%;
    width: auto;
    float:left;
} 

/*- Fonts -*/

@font-face {
    font-family: AmaticSC;
    src: url("media/fonts/AmaticSC-Bold.ttf")
}

.titletext {
    display:flex;
    grid-column-start:1;
    grid-column-end:4;
    grid-row:1;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

.slogantext {
    font-family:AmaticSC;
    color:white;
    font-size:70px;
    text-align: center;
    text-shadow: black 3px 3px 5px;
}

.gridbody {
    background-color: white;
    grid-row:2;
    grid-column:2;
    margin-top: 5px;
}

.gridfooter {
    background-color: white;
    grid-row:3;
    grid-column:2;
    margin-top: 5px;
}

/*- Background -*/

.bgcontainer {
    transform: translateZ(-100x);
}

.background-video {
    width:100vw;
    height:100vh;
    object-fit:cover;
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -999;
    filter:blur(5px);
    transform: scale(1.05);
}