/*-- Site Structure --*/

html, body {
    margin: 0;
}

body {
    background-color: lightblue;
}

.grid-container {
    display: grid;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 10% 90% 100% 10%;
    height: 100vh;
}

.grid-item {
    padding: 1%;
}

.gridheader {
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 4;

}

/*- Fonts -*/

@font-face {
    font-family: AmaticSC;
    src: url("media/fonts/AmaticSC-Bold.ttf")
}

.titletext {
    display:flex;
    grid-column-start:1;
    grid-column-end:4;
    grid-row:2;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

.slogantext {
    font-family:AmaticSC;
    color:white;
    font-size:70px;
    text-align: center;
    text-shadow: black 3px 3px 5px;
}

.gridbody {
    background-color: white;
    grid-row:3;
    grid-column:2;
    margin-top: 5px;
}

.gridfooter {
    background-color: white;
    grid-row:3;
    grid-column:2;
    margin-top: 5px;
}

/*- Background -*/

.bgcontainer {
    transform: translateZ(-100x);
}

.background-video {
    width:100vw;
    height:100vh;
    object-fit:cover;
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -999;
    filter:blur(5px);
    transform: scale(1.05);
}